::-webkit-scrollbar {
  width: 0px;
}

.photoViewer {
  .header {
    text-align: center;
  }

  .photosArea {

    //width: 80%;
    display: grid;
    margin: auto;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
    grid-gap: 40px;
    height: 60vh;
    overflow: scroll;
    text-align: center;

    .title {
      max-width: 400px;
      background: #d35941;
      color: #fff;
      border: 2px solid #fff;
      padding: 10px;
      margin: 40px auto auto auto;
      text-align: center;
      font-size: 1.2rem;
    }
  }

  .button {
    width: 200px;
    height: 70px;
    background: #d35941;
    color: #fff;
    border: 1px solid #fff;
    margin: auto;
    text-align: center;
    font-size: 24px;
  }
}
