.app {
    background: url(https://talkstar-assets.s3.amazonaws.com/production/playlists/playlist_414/big_deal_mars_1200x627.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    height: 100%;
    width: 100%;
}

@media (min-width: 1181px) {
    .app {
        height: 100vh;
    }
}
